$primary: rgb(11, 118, 47);
$body-bg: rgb(244, 232, 8);

$body-color: rgb(43, 13, 176);

.bg {
    background-image: url("../img/Moviereel3.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;    
  }

@import '~bootstrap/scss/bootstrap.scss';